<h1><%= @local.name %> Profile</h1>
<div>
  <img src="https://imgcdn.stablediffusionweb.com/2024/6/12/4d688bcf-f53b-42b6-a98d-3254619f3b58.jpg" alt="Profile pic of Jane Doe">
  <p>Categories:<% @local.calegories %></p>
  <p>Age: <% @local.age %></p>
  <p>Introduction: <% @local.description %></p>
  <p><%= link_to reviews %></p>
</div>
<p>
  <%= link_to See Availability%>
</p>
