// Define variables for your color scheme
$mustardyellow:#E1AD01;
$dark-blue:#222E50;
$pale-blue: #EDF7F6;

// Defined colors used by bootstrap, do not delete:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// -end not to delete
