// Specific CSS for your home-page
.intro{
  width: 397px;
  font-size: 24px;
  font-family: koho;
  border: 3px solid #fccb06;
  border-radius: 10px;
  color: #222e50;
  padding: 15px;
  background-color: white;
}

.big-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-name-login{
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
  margin-top: 20px;
  width: 397px;
}

.local-lens{
  font-family: Kaushan Script;
}

.page-name{
  color: #222e50;
  font-family: koho;
  font-size: 32px;
}

.login{
  width: 65px;
  color: #222e50;
  font-family: koho;
  font-size: 24px;
}
