.profile-container {
  width: 387px;
  font-size: 24px;
  font-family: koho;
  border: 2px solid #222E50;
  border-radius: 10px;
  color: #222E50;
  background-color: white;
  margin-top: 10px;
  margin: auto;
}

.profile-card {
  width: 400px;
}

.avatar-profile img{
  // margin-left: 120px;
  width: 383px;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.avatar-profile {
  width: 387px;
}

h1 {
  font-size: 32px;
  font-family: koho;
  color: #222E50;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-profile-card {
  width: 387px;
  padding: 15px;
}

.pg-container {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

.btn-profile {
  width: 175px;
  text-decoration: none;
  color: $paleblue;
  font-family: 'KoHo', sans-serif;
  font-size: 20px;
  background-color: $darkblue;
  border: 2px solid $paleblue;
  padding: 10px 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgb(151, 151, 151);
}

.profile-edit {
  text-align: center;
}
