<div class="bookings-container">


  <h1>Save the date with:</h1>
  <% @user_bookings.each do |booking| %>
    <%= render partial: "user_booking", locals: { booking: booking } %>
  <% end %>
  <h1>Your bookings as a local  </h1>
  <% @local_bookings.each do |booking| %>
    <%= render partial: "local_booking", locals: { booking: booking } %>
  <% end %>
</div>
