<div class="bookings-container">
  <% if @user.local? %>
    <h1>Bookings as a:</h1>
    <div class="booking-edit">
      <button class="btn-profile" id="user-toggle" onclick="showUserBookings()">Guest</button>
      <button class="btn-profile disable" id="local-toggle" onclick="showLocalBookings()">Host</button>
    </div>

    <div id="user-bookings">
      <% @user_bookings.each do |booking| %>
        <%= render partial: "user_booking", locals: { booking: booking } %>
      <% end %>
    </div>
    <div id="local-bookings" class="d-none">
      <% @local_bookings.each do |booking| %>
        <%= render partial: "local_booking", locals: { booking: booking } %>
      <% end %>
    </div>
  <% else %>
    <div id="user-bookings">
      <h1>Upcoming Bookings:</h1>
      <% @user_bookings.each do |booking| %>
        <%= render partial: "user_booking", locals: { booking: booking } %>
      <% end %>
    </div>
  <% end %>
</div>

<script>

  function showUserBookings() {
    document.getElementById("user-bookings").classList.remove('d-none');
    document.getElementById("user-toggle").classList.remove('disable');
    document.getElementById("local-bookings").classList.add('d-none');
    document.getElementById("local-toggle").classList.add('disable');
  }

  function showLocalBookings() {
    document.getElementById("user-bookings").classList.add('d-none');
    document.getElementById("user-toggle").classList.add('disable');
    document.getElementById("local-bookings").classList.remove('d-none');
    document.getElementById("local-toggle").classList.remove('disable');
  }
</script>
