<div class="bookings-container">
  <div class="booking-edit">
    <button class="btn btn-profile" id="user-toggle" onclick="showUserBookings()">As User</button>
    <button class="btn btn-profile" id="local-toggle" onclick="showLocalBookings()">As Local</button>
  </div>

  <div id="user-bookings">
    <h1>Your bookings as a User:</h1>
    <% @user_bookings.each do |booking| %>
      <%= render partial: "user_booking", locals: { booking: booking } %>
    <% end %>
  </div>
  <div id="local-bookings">
    <h1>Your bookings as a local:</h1>
    <% @local_bookings.each do |booking| %>
      <%= render partial: "local_booking", locals: { booking: booking } %>
    <% end %>
  </div>
</div>

<script>
  function showUserBookings() {
    document.getElementById("user-bookings").style.display = "block";
    document.getElementById("local-bookings").style.display = "none";
  }

  function showLocalBookings() {
    document.getElementById("user-bookings").style.display = "none";
    document.getElementById("local-bookings").style.display = "block";
  }
</script>
