
<div class="container">
  <h1>Local Lens</h1>

  <p>Find me in app/views/pages/home.html.erb</p>
  <div class="container text-cente">
      <h3>Welcome to Local Lens homepage </h3>
      <div class="row align-items-start">
        <div class="col bg-white">
          <h3>Whether it is finding a great place to eat or an awesome beach, Local Lens's local are here for you
          Just search for locals by city then find yourperson with the categroy expertise you would like to explore in your city.
          Book a date, then simply enjoy!</h3>
        </div>
      </div>
    </div>
    <p>link_to "See all the locals" locals_path%</p>
</div>
