
<div class="big-div">
  <div class="page-name-login">
    <h1 class="page-name">Home</h1>
    <%= link_to locals_path, class:"explore-cities" do %>
      <div class="login">Login</div>
    <% end %>
  </div>
  <p class="intro">
    Welcome to <span class="local-lens">Local Lens</span>. Whether it is finding a great place to eat or an awesome beach, Local Lens's local are here for you
    Just search for locals by city then find your person with the category of expertise you would like to explore in your city.
    Book a date, then simply enjoy!
  </p>
  <%= link_to locals_path, class:"explore-cities" do %>
    <div class="big-picture-button big-pic-explore">Explore Locals</div>
  <% end %>
  <%= link_to locals_path, class:"explore-cities" do %>
    <div class="big-picture-button big-pic-catigories">Categories</div>
  <% end %>
</div>
