<h1 class="ui-kit">UI Kit</h1>

<!--This is the delete pop up to verify the delete request-->
<div class="style-sheet-main-div">
    <div class="outer-border">
    <div class="inner-radius">
      <div class="delete-square">
        <p class="first-p">Delete Booking?</p>
        <div class="delete-flexbox">
          <div class="delete-red">
            <div class="red--button">Yes</div>
          </div>
          <div class="delete-green">
            <div class="green-button">No</div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!--This is the riview button-->

    <p class="review-button">
    Review
    </p>
    <p class="big-picture-button"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOt1F1tuNpe0bGO0Adyoz0npaYYLpvXyDiVA&s" alt="Australia"></p>
</div>
