<h1 class="ui-kit">UI Kit</h1>

<!--This is the delete pop up to verify the delete request-->
<div class="style-sheet-main-div">
  <div class="outer-border">
    <div class="inner-radius">
      <div class="delete-square">
        <p class="first-p">Delete Booking?</p>
        <div class="delete-flexbox">
          <div class="delete-red">
            <div class="red--button">Yes</div>
          </div>
          <div class="delete-green">
            <div class="green-button">No</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--This is the riview button-->

  <div class="review-button">
    Review
  </div>
  <div class="big-picture-button">Categories</div>
  <div class="book-button">See book</div>
  <div class="forget-password-button">Forget Password?</div>
  <div class="cancel-button-outer">
    <div class="cancel-button-inner">
      Cancel
    </div>
  </div>
  <div class="small-picture-button">
    <div class="small-picture-box">
    </div>
    <div class="small-picture-label">
      My profile
    </div>
  </div>
</div>
