
.review-button{
  width: 360px;
  height: 59px;
  border: solid 3px #FFB084;
  font-size: 32px;
  color: #FFB084;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  background-color: #C3E6D4;
}

.big-picture-button{
  width: 397px;
  height: 158px;
  border-radius: 10px;
  border: 3px solid #78CFA2;
}
