.card-product {
  overflow: hidden;
  height: 103px;
  width: 396px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 24px;
  border: 3px solid #FFB084;
  padding: 10px;
}

.info {
  display: flex;
  align-items: center;
}

.card-product img {
  height: 86px;
  width: 77px;
  object-fit: cover;
  border-radius: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.card-product p {
  font-size: 16px;
  font-family: 'KoHo', sans-serif;
  margin: 0;
  margin-left: 15px;
}

.rating {
  background-color: #78CFA2;
  padding: 5px;
  margin: 10px;
  color: white;
  height: 34px;
  width: 34px;
  font-family: 'KoHo', sans-serif;
  font-size: 16px;
  border-radius: 3px;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.page-title h1 {
  font-family: 'KoHo', sans-serif;
  color: #FFB084;
  font-weight: 500;
  font-size: 32px;
}

.page-title h2 {
  font-family: 'KoHo', sans-serif;
  color: #FFB084;
  font-weight: 500;
  font-size: 24px;
  text-shadow: 2px;
}
