//--This is the button on the entry page--//

.explore-cities{
  text-decoration: none;
}

.big-picture-button{
  width: 397px;
  height: 158px;
  border-radius: 10px;
  border: 3px solid #78CFA2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #FFB084;
  font-weight: 700;
  font-family: koho;
  font-size: 40px;
  text-shadow: 2px 0px 2px white, -2px 0px 2px white, 0px 2px 2px white, 0px -2px 2px white;
  background-size: 100%;
  letter-spacing: 2px;
  box-shadow: 3px 3px 5px rgb(151, 151, 151);

}

.big-pic-explore{
  background-image: url("https://as2.ftcdn.net/v2/jpg/05/74/07/87/1000_F_574078760_arG3VPuCBLPyPGNnqjtBNf4SvxHp5PWk.jpg");
  margin-bottom: 25px;
}

.big-pic-catigories{
  background-image: url("https://media.istockphoto.com/id/1705667303/photo/i-love-dancing.jpg?s=612x612&w=0&k=20&c=gRJU3YqiLurF8nNFAoa9vuBWEoci1_6-zsZyOJRMzRs=");
}

//--^^^This is the ned of the image button on the entry page^^^--//

//-- This is the menu button--//

.small-picture-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 189px;
  height: 200px;
  border: solid 3px #FFB084;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(151, 151, 151);
}

.small-picture-box{
  width: 183px;
  height: 144px;
  background-image: url("https://images.pexels.com/photos/3763188/pexels-photo-3763188.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
}

.small-picture-label{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 189px;
  color: white;
  background-color: #FFB084;
  font-family: koho;
  font-size: 32px;
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//--^^^This is the end of the menu button ^^^--//
