// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cardproduct";
@import "pop_ups";
@import "pop_ups";
@import "buttons";
@import "image_buttons";
@import "local_card";





//-- Do not touch this code or you will have 1000 years of bootstrap!!!!
.style-sheet-main-div >*{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px
}

.body-color{
  background-color: #C3E6D4;
}

.profile-pic{
  width: 54px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid #FFB084;
  object-fit: cover
}

.main-local-lens{
  font-size: 48px;
  font-family: kaushan script;
  color: #FFB084;
}

.navbar{
  height: 90px;
  border-bottom: #FFB084 solid 2px;
  border-top: #FFB084 solid 2px;
  background-color: #C3E6D4;
}
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
