
.container-local{
  margin-top: -5px;
  margin-bottom: -1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-header {
  margin-top: 24px;
  h1{
    font-family: 'KoHo', sans-serif;
    color: $darkblue;
  }
}

// Card container
.local-profile-card {
  width: 387px;
  border-radius: 10px;
  background-color: white;
  font-family: 'KoHo', sans-serif;
  font-size: large;
  margin-top: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

  // container with profile image and rating
  .img-rating{
    img {
      width: 387px;
      height: 327px;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    .rating-stars{
      position: relative;
      // bottom: 20px; left: 227px; (this is to the rigt border bottom of the pic)
      top: 10px; left: 20px;
      font-weight: bold;
      padding: auto;
      background-color: white;
      width: 35vw;
      border-radius: 5px;
      .checked{
        color: $mustardyellow;
      }
      span{
        color: rgb(143, 141, 141);
      }
    }
  }
  .text-local-card {
    font-family: 'KoHo', sans-serif;
    color: $darkblue;
    font-weight: 400;
    padding: 15px 0px 10px 20px;
  }
  .accent {
    color:$mustardyellow;
  }

}

// This is for future see "reviews button" style ---
  // #reviews-border{
  //   width: 74vw;
  //   height:15vw;
  //   margin: auto;
// }

//  This is testing a division of the card in darkblue
  // .division-blue {
  //   color: white;
  //   background-color: $darkblue;
  //   width: 387px;
  //   height: 55px;
  //   border-top-right-radius: 10px;
  //   border-top-left-radius: 10px;
// }
