// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$mustardyellow: #e1ad01;
$darkblue: #222e50;
$paleblue: #edf7f6;
$white: #ffffff
